{% extends "blog/base.html" %}

{% block content %}
    {% for post in posts%}
        <div class="jumbotron">
          <h1 class="display-4 ">{{post.title}}</h1>
          <p class="lead">{{ post.contents }}</p>
          <hr class="my-4">
          <p >By {{ post.author }} on {{ post.date_posted }} </p>
          <p class="lead">
            <a class="btn btn-primary btn-lg" href="{% url 'blog-about' %}" role="button">Learn more</a>
          </p>
        </div>
    {% endfor %}
{% endblock content%}

